<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container py-5">
  <h2 class="title"><span>Product List</span></h2>

  
  <div class="header-actions">
    <div class="action-button">
      <button (click)="addProduct()">Add Product</button>
    </div>
    <div class="search-bar">
      <input 
        type="text" 
        [(ngModel)]="search" 
        (input)="onSearch()" 
        placeholder="Search products..." 
      />
      <div class="search"></div>
    </div>
  </div>
  <div class="boxs">
  <div class="row"  >
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-6 col-md-3 box-product-outer" *ngFor="let product of products">
          <div class="box-product" (click)="viewDetails(product.id, product.hrefParam)">
            <div class="img-wrapper">
              <a (click)="viewDetails(product.id,product.hrefParam)">
                <img [src]="'https://bootdey.com/img/Content/avatar/avatar1.png'" alt="{{ product.productName }}" class="img-fluid">
              </a>
              <div class="tags">

                <span class="label-tags" *ngIf="product.promotions && product.promotions.length > 0">
                  <span class="label label-danger">Sale</span>
                </span>
                <span class="label-tags">
                  <span class="label label-info">{{getCategoryById(product.categoryId) }}</span>
                </span>
                <span class="label-tags">
                  <span class="label label-warning">{{ getBrandById(product.brandId)}}</span>
                </span>
              </div>
              <div class="option">
                <a (click)="viewDetails(product.id,product.hrefParam); $event.stopPropagation()" data-toggle="tooltip" data-placement="bottom" title="View Details">
                  <i class="ace-icon fa fa-eye"></i>
                </a>
                <a (click)="editProduct(product.id); $event.stopPropagation()" data-toggle="tooltip" data-placement="bottom" title="Edit Product">
                  <i class="ace-icon fa fa-pencil"></i>
                </a>
                <a (click)="deleteProduct(product.id); $event.stopPropagation()" data-toggle="tooltip" data-placement="bottom" title="Delete Product">
                  <i class="ace-icon fa fa-trash"></i>
                </a>
              </div>
            </div>
            <h6><a (click)="viewDetails(product.id,product.hrefParam)">{{ product.productName }}</a></h6>
            <div class="price">
              <div>
                ${{ product.price | number:'1.2-2' }}

                <span class="price-down" *ngIf="product.promotions && product.promotions.length > 0">-{{ product.promotions[0]?.promotional }}%</span>
              </div>
            </div>
            <ng-template #noPromotion>
              <div class="promotion">No Promotion</div>
            </ng-template>
            <div class="product-stats">
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <div class="stats-icons">
                <span><i class="fa fa-heart text-danger"></i> 19</span>
                <span><i class="fa fa-comment text-primary"></i> 19</span>
                <span><i class="fa fa-eye text-info"></i> 7963</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
  </div>
</div>
<div class="pagination-container">
  <button (click)="prevPage()" [disabled]="currentPage === 1">←</button>

  <ng-container *ngFor="let page of getPageNumbers()">
    <button
      (click)="goToPage(page)"
      [ngClass]="{ 'active-page': page === currentPage }"
    >
      {{ page }}
    </button>
  </ng-container>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">→</button>
</div>


</div>